[submodule "backend"]
	path = backend
	url = https://github.com/yemeneroud/backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/yemeneroud/frontend.git
[submodule "docs"]
	path = docs
	url = https://github.com/yemeneroud/docs.git
